:root{
  --cordefundo: #1767fc;
  --cordefundo2: #ffffff;
  --cordotexto: #000000;
  --corgoogle: #db4a39;
  --cortwitter: #00acee;
  --corfacebook: #3b5998;
  --corbotaohover: #071AE0;
  --textofooter: #F7AB05;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  background-color: var(--cordefundo);
  font-family:Arial, Helvetica, sans-serif !important;
  display: flex;
  height: 100vh;
  width: 100vw;
  max-width: 100%;
  flex-wrap: wrap;
}

.themeButton {
  width: 100%;
}

.themeToggle {
  width: auto;
  height: auto;
  border: none;
  border-radius: 10px;
  margin: 5px;
}

.themeToggle:active {
  background: #9c9c9c;
}

.container{
  width: 40%;
  min-width: 300px;
  position: absolute;
  align-items: center;
  justify-items: center;
  margin-top: 4%;
}

#principal{
  border-radius: 10px;
  text-align: center;
  padding: 10px;
  background-color: var(--cordefundo2);
  width: 40%;
  min-width: 300px;
  max-height: 1024px;
  height: 500px;
  margin: auto;
  margin-top: 40px;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.555);
}

#principal > h4 {
  margin-top: 6%;
}

a {
  font-size: 14px;
  text-decoration: none;
  color: var(--cordotexto);
}

label {
  display: block;
  margin-bottom: 10px;
  font-weight: bold;
}

#senhalabel {
  margin-top: 20px;
}

#esqueceu {
  margin-top: 8px;
}

#senha {
  margin-top: 20px
}

#login {
  text-transform: uppercase;
}

#outros-login a{
  color: var(--cordotexto);
}

#outros-login h5 {
  margin-top: 30px;
  margin-bottom: 5px;
}

/* =ICONES= */
ion-icon {
  font-size: 32px;
}

.icons {
  margin-right: 5px;
}

/*
ion-icon:active {
  color: rgb(13, 13, 136);
}
*/

#logo-google:hover {
  color: var(--corgoogle);
  transition-duration: .2s;
}

#logo-twitter:hover {
  color: var(--cortwitter);
  transition-duration: .2s;
}

#logo-facebook:hover {
  color: var(--corfacebook);
  transition-duration: .2s;
}
/* =FIM ICONES= */

/*BOTAO LOGIN*/
#entrar-button {
  background-color: var(--cordefundo);
  border: none;
  width: 100px;
  height: 30px;
  box-shadow: 5px 5px 10px rgba(78, 78, 78, 0.555);
  color: var(--cordefundo2);
  border-radius: 4px;
  cursor: pointer;
  font-weight: bold;
}

#entrar-button:active {
  background-color: var(--corbotaohover);
  border: none;
  width: 100px;
  height: 30px;
  box-shadow: 2px 2px 8px rgba(78, 78, 78, 0.555);
  color: var(--cordefundo2);
  border-radius: 4px;
  cursor: pointer;
}
/*FIM BOTAO LOGIN*/


input[type=email]{
  text-decoration: none;
  border: 1px solid grey;
  border-radius: 4px;
  width: 75%;
  height: 32px;
  outline: none;
  padding: 0px 0px 0px 10px;
}
input[type=password]{
  text-decoration: none;
  border: 1px solid grey;
  border-radius: 4px;
  width: 75%;
  height: 32px;
  outline: none;
  padding: 0px 0px 0px 10px;
}

/*RODAPE*/
footer a {
  text-decoration: none;
  color: var(--textofooter);
}

footer > p {
  color: var(--cordefundo2);
}

footer {
  width: 100%;
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  text-align: center;
}
/*FIM RODAPE*/


/* =BLACK THEME= */

.bodyBlack {
  background: #1c1c1c;
}

.textBlack {
  color: #f5f5f5;
}

.buttonBlack {
  background: #2e2e2e;
  border: 1px solid #f5f5f5;
  color: #f5f5f5;
}

.containerBlack {
  background-color: #3d3d3d !important;
  color: #f5f5f5;
}


.logoGoogleBlack {
  color: var(--corgoogle) !important;
}

.logoTwitterBlack {
  color: var(--cortwitter) !important;
}

.logoFacebookBlack {
  color: var(--corfacebook) !important;
}

.linkBlack {
  color: #f5f5f5 !important;
}

/* =FIM BLACK THEME= */